TODO
data/api_key.js
README.md
offline_weather.appcache
_old
.ds_store
scripts/service-worker.js
# data/air_quality-GIOS
# data/air_quality_Airly
# scripts/air-quality.js
data

### Visual Studio Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Visual Studio Code Patch ###
# Ignore all local history of files
.history