TODO
.ds_store
_old
cities
data
umbrella-legacy.html
images/social-sharing/umbrella-background.png
images/social-sharing/umbrella-facebook-ogimage.png
scripts/aqicn.js
scripts/allergy-apsik.js
scripts/locate.js
service_worker.js
umbrella.min.html
umbrella-en.min.html
py/umbrellaallergensscraper-windowstaskscheduler.xml
scripts/en
umbrella-en.html
py/update.bat
py/PollenInfoAutoUpdate.bat
py/PollenInfoAutoUpdate.exe
fonts/jetbrainsmono
styles/styles.css
modal-test*
py/scraper.py
py/automate.sh
py/build-app.scpt 
scripts/min
styles/styles.min.css

### Visual Studio Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Visual Studio Code Patch ###
# Ignore all local history of files
.history