@import url("https://fonts.googleapis.com/css?family=Fira+Code:300,400,500,600,700&display=swap");

body {
  background: linear-gradient(2deg,
      rgba(198, 198, 198, 1) 40%,
      rgba(228, 228, 228, 1) 60%) no-repeat center center fixed;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  font-family: "Fira Code", monospace;
  color: #000;
  text-align: center;
  height: 100vh;
  margin: 0;
}

#bottom_navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#bottom_navbar p,
a {
  float: right;
  display: block;
  color: #000;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 14px;
  text-decoration: none;
  font-size: 17px;
}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 600px) {}

#icon {
  width: 125px;
  height: 125px;
  margin-bottom: 5%;
  margin-top: 15%;
}

#temperature {
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 5%;
}

#umbrella,
#loading {
  font-size: 1.5rem;
  font-weight: bold;
  margin: auto;
  margin-bottom: 5%;
  width: 65%;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }

  .column,
  .columns {
    /* margin-left: 4%; */
  }

  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }

  .two.columns {
    width: 13.3333333333%;
  }

  .three.columns {
    width: 22%;
  }

  .four.columns {
    width: 30.6666666667%;
  }

  .five.columns {
    width: 39.3333333333%;
  }

  .six.columns {
    width: 48%;
  }

  .seven.columns {
    width: 56.6666666667%;
  }

  .eight.columns {
    width: 65.3333333333%;
  }

  .nine.columns {
    width: 74%;
  }

  .ten.columns {
    width: 82.6666666667%;
  }

  .eleven.columns {
    width: 91.3333333333%;
  }

  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  .one-third.column {
    width: 30.6666666667%;
  }

  .two-thirds.column {
    width: 65.3333333333%;
  }

  .one-half.column {
    width: 48%;
  }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}

/* Smaller than mobile */
@media screen and (min-width: 300px) and (max-width: 450px) {
  #icon {
    margin-top: 40% !important;
  }
}

@media (max-width: 340px) {
  #temperature {
    font-size: 3rem !important;
  }

  #umbrella {
    font-size: 1.3rem !important;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1500px) {
  #icon-bulb {
    margin-top: 15%;
  }
}